.menu-bar{
    height: 20px;
    width: 100%;
    margin-bottom: 30px;
}
.menu-bar-options{
    float: right;
    text-decoration: none;
    margin: 3px 10px;
}

.highlight{
    color: #ff8367;
}

h1{
    font-size: 80px;
    font-weight: 700;
    color: #363958;
    font-family: 'Bebas Neue', cursive;

}

h2{
    font-size: 50px;
    color: #363958;
    font-family: 'Bebas Neue', cursive;

}
h3{
    font-size:x-large;
    color: #363958; 
}
p{
    font-family: 'Roboto Slab', serif;
}

.float-left{
    float: left;
    width: 40%;
    padding-left: 5%;
    padding-right: 5%
    padding-top: 10px;
}

.top-section{
    height: 520px;
}
.about-me{
    height: 520px;
}
.my-projects{
    height: 700px;
    background-color: aliceblue;
    padding-top: 30px;

}
.my-projects h2{
    text-align: center;
}
.single-project{
    float: left;
    width: 25%;
    border-radius: 10px;
    margin: 10px 3%;
    padding: 10px;
    box-shadow: 3px 3px 20px dimgray,-3px -3px 20px dimgray;
}
.single-project img{
    width: 343px;
    height: 215px;
}
.inquiry{
    width: 600px;
    height: 150px;
    border-radius: 25px;
    padding: 10px 100px 10px 60px;
    margin: 100px 300px;
    background-image: url(images/inquiry-background.png);
    background-size: cover ;
}
.inquiry h2{
    color: white;
}

.inquiry a{
    float: right;
}
.footer{
    margin: 70px 100px;
    text-align: center;
}
.footer h1{
    font-size:20px;
}
.footer p{
    font-size:x-large;
}
.icons{
    
    margin-left: 100px;
    margin-right: 100px;
    height: 50px;
    width: 135px;
}
.single-icon{
    float: left;
    margin: 10px;
}
.single-icon img{
    height: 25px;
    width: 25px;
}
img{
    width: 100%;
}

.anchor-button{
    border-radius: 7px;
    padding: 5px 10px;
    background-image: linear-gradient(45deg, magenta, orchid);
    color: white;
    text-decoration: none;
}
